@page
@model BugFree.Areas.Identity.Pages.Account.AccessDeniedPathModel
@{
}
<p class="text-danger">This app requires signing and authentication. Click <strong><a asp-area="Identity" asp-page="/Account/Register">here</a></strong> to proceed</p>